name: Tests

on:
  merge_group:
  pull_request:

#permissions:
#  actions: read

jobs:
  run-checks:
    name: Run checks
    uses: ./.github/workflows/_checks.yml
    with:
      node_versions: ${{ github.event_name == 'merge_group' && '"24.x","18.x"' || '"24.x"' }}

  run-unit-tests:
    name: Run unit tests
    uses: ./.github/workflows/_unit-tests.yml
    with:
      node_versions: ${{ github.event_name == 'merge_group' && '"24.x","18.x"' || '"24.x"' }}

  run-docs-compilation-tests:
    name: Run docs compilation tests
    if: github.event_name == 'merge_group'
    uses: ./.github/workflows/_docs-compile-tests.yml
    with:
      docs_repo_token: ${{ secrets.DOC_GITHUB_PAT_CROSS_ORG }}

  run-hcd-integration-tests:
    name: Run HCD integration tests
    if: github.event_name == 'merge_group'
    uses: ./.github/workflows/_hcd-integration-tests.yml
    with:
      client_embedding_api_key: ${{ secrets.CLIENT_EMBEDDING_API_KEY }}

  can-enqueue:
    name: Can enqueue
    needs: [run-checks, run-unit-tests]
    if: always() && github.event_name != 'merge_group'
    runs-on: ubuntu-latest
    steps:
      - name: Check outcomes
        run: |
          echo '${{ toJSON(needs) }}' | jq -e 'to_entries | map(.value.result == "success" or .value.result == "skipped") | all'

  can-merge:
    name: Can merge
    needs: [run-checks, run-unit-tests, run-docs-compilation-tests, run-hcd-integration-tests]
    if: always() && github.event_name == 'merge_group'
    runs-on: ubuntu-latest
    steps:
      - name: Check outcomes
        run: |
          echo '${{ toJSON(needs) }}' | jq -e 'to_entries | map(.value.result == "success" or .value.result == "skipped") | all'
